:root {
  --color-primary: #3ea9dd;
  --color-primary-active: #3ea9dd;

  --color-background-main: #FFF;
  --color-background-secondary: #F7F8FA;
  --color-background-contrast: #E1E3E6;
  --color-background-overlay: rgba(37,40,43,0.9);
  --color-content-lead: #454545; // Titles
  --color-content-main: #454545; // Bodies
  --color-content-secondary: #73777d;

  --color-selection: #2e87e77d;
}

.theme-dark:root {
  --color-primary: #3ea9dd;
  --color-primary-active: #3ea9dd;

  --color-background-main: #222426;
  --color-background-secondary: #1D1F20;
  --color-background-contrast: #3B3D40;
  --color-background-overlay: rgba(9,10,13,0.9);
  --color-content-lead: #FFF;
  --color-content-main: #E1E3E6;
  --color-content-secondary: #909499;
  --color-selection: #2e87e77d;
}

@media (prefers-color-scheme: dark) {
  html:not(.theme-light):root {
    --color-primary: #3ea9dd;
    --color-primary-active: #3ea9dd;

    --color-background-main: #222426;
    --color-background-secondary: #1D1F20;
    --color-background-contrast: #3B3D40;
    --color-background-overlay: rgba(9,10,13,0.9);
    --color-content-lead: #FFF;
    --color-content-main: #E1E3E6;
    --color-content-secondary: #909499;
    --color-selection: #2e87e77d;
  }
}
